<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Produits
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/produits" >Consulter</a></li>
          <li><a routerLink="/ajouterProduit">Ajouter</a></li>
        </ul>
      </li>
      <li><a routerLink="/contact">Contact</a></li>
      <!--<li><a href="#">Page 3</a></li>-->
    </ul>
  </div>
</nav>
