<div class="container">
    <div class="col-md-8 col-sm-7 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Ajouter des produits</div>
        <div class="panel-body" *ngIf="state==false">
          <form #form="ngForm" (ngSubmit)="onAjoutProduit(form.value)">

            <div class="form-group">
              <label class="control-label" for="designation">Designation : </label>
              <input type="text" name="designation" id="designation" ngModel class="form-control">
            </div>

            <div class="form-group">
              <label class="control-label" for="prix">Prix : </label>
              <input type="text" name="prix" id="prix" ngModel class="form-control">
            </div>

            <div class="form-group">
              <label class="control-label" for="quantite">Quantité : </label>
              <input type="text" name="quantite" id="quantite" ngModel class="form-control">
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary col-md-3">
              <i class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;</i>
              Ajouter
            </button>
            </div>

          </form>
        </div>
        <div class="panel-body" *ngIf="state==true">
          <div class="form-group">
             <button class="btn btn-primary" (click)="rederigerVersAjouterProduit()"><i class="glyphicon glyphicon-plus"></i></button>
          </div>

          <div class="form-group">
            <label class="control-label">ID : {{currentProduct.id}}</label>
          </div>
          <div class="form-group">
            <label class="control-label">Designation : {{currentProduct.designation}}</label>
          </div>
          <div class="form-group">
            <label class="control-label">Prix : {{currentProduct.prix}}</label>
          </div>
          <div class="form-group">
            <label class="control-label">Quantite : {{currentProduct.quantite}}</label>
          </div>
        </div>
      </div>
    </div>
</div>


